<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Станки СПБ</title>
    <meta name="keywords" content="станки, купить станки, купить станки в спб">
    <meta name="description" content="Продажа станков в Санкт-Петербурге по выгодным ценам">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="wrap">
    <div th:replace="header :: content"></div>

    <main>

    </main>
</div>
<div th:replace="footer :: footerFragment" th:object="${footerModel}"></div>
<script src="/js/main.js"></script>
<script src="/js/slider.js"></script>
</body>
</html>